<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar persona</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input [(ngModel)]="nombre" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Edad</ion-label>
      <ion-input [(ngModel)]="edad" type="text"></ion-input>
    </ion-item>
  </div>
  <div>
    <ion-button expand="block" color="success" (click)="guardarPersona()">Agregar</ion-button>
  </div>
</ion-content>
