<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic 4 con Laravel
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  <ion-item-divider>
    <ion-button expand="block" class="ion-text-center" color="success" routerLink="/add-persona">Agregar nuevo</ion-button>
  </ion-item-divider>
  <ion-grid>
    <ion-row>
      <ion-col>
        ID
      </ion-col>
      <ion-col>
        Nombre
      </ion-col>
      <ion-col>
        Edad
      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>
    <ion-row *ngFor="let persona of personas">
      <ion-col>
        {{persona.idPersona}}
      </ion-col>
      <ion-col>
        {{persona.nombre}}
      </ion-col>
      <ion-col>
        {{persona.edad}}
      </ion-col>
      <ion-col>
        <ion-buttons>
          <ion-button (click)="actualizar( persona )" size="small" color="primary">
            <ion-icon name="create"></ion-icon>
          </ion-button>
          <ion-button (click)="borrar( persona )" size="small" color="danger">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>