<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic 4 con Laravel
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <ion-item-divider>
    <ion-button expand="block" size="large" color="success" (click)="nuevo()">Agregar nuevo</ion-button>
  </ion-item-divider>
  <ion-grid>
    <ion-row>
      <ion-col>
        ID
      </ion-col>
      <ion-col>
        Nombre
      </ion-col>
      <ion-col>
        Edad
      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of personas">
      <ion-col>
        {{item.idPersona}}
      </ion-col>
      <ion-col>
        {{item.nombre}}
      </ion-col>
      <ion-col>
        {{item.edad}}
      </ion-col>
      <ion-col>
        <ion-buttons>
          <ion-button (click)="editar(item)" size="small" color="primary">
            <ion-icon name="create"></ion-icon>
          </ion-button>
          <ion-button (click)="borrar(item)" size="small" color="danger">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>